/* You can add global styles to this file, and also import other style files */
@use "primeicons/primeicons.css";
@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

body {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 600;
    font-style: normal;
}